html, body {
    height: 100%;
    background: #f7fafc;
    padding-left: 200px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    padding: 20px;
}

svg {
    width: 20px;
}

.body-top-margin {
    padding-top: 80px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2cb9f1;
    overflow-x: hidden;
    padding: 20px;
}

.sidenav img {
    width: 100%;
    padding: 0 20px;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid white;
}

.sidenav a:hover {
    color: #d3d3d3;
}

.title {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    background-color: #e1e1e1;
    line-height: 26px;
    padding: 17px 30px;
    font-size: 26px;
}

form {
    padding: 20px;
    margin-bottom: 0;
}

.fulltext-bar {
    width: 700px;
}

.login-card-container {
    height: 100%;
    width: 500px;
    display: table;
}

.login-card {
    display: table-cell;
    vertical-align: middle;
}

.table {
    width: 100%;
}

.card {
    margin-bottom: 20px;
}

.main-card {
    width: 1000px;
}

.bold {
    font-weight: bold;
}

.table-button {
    width: 150px;
}

.button-column {
    width: 150px;
    text-align: center;
}

.small-button-column {
    width: 20px;
}

.required-label::after {
    content:"*";
    color:red;
    margin-left: 2px;
 }

.shortcut-column {
    width: 50px;
}

.number-input {
    width: 150px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.form-hidden {
    padding: 0;
    margin: 0;
}

.add-teacher-select {
    padding: 0;
}

.toast {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
}

.toast-body {
    font-size: 16px;
}

.toast-buttons {
    display: flex;
    justify-content: flex-end;
}

.toast-buttons button {
    margin-left: 10px;
    line-height: 16px;
}

.btn-link {
    padding: 0;
}

.link-disabled {
    color: grey;
    text-decoration: none;
    cursor: default;
}

.course-detail-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.course-detail-number {
    font-size: 40px;
}
