html, body {
    height: 100%;
    background: #f7fafc;
    padding-left: 200px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    padding: 20px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2cb9f1;
    overflow-x: hidden;
    padding: 20px;
}

.sidenav img {
    width: 100%;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid white;
}

.sidenav a:hover {
    color: #d3d3d3;
}

form {
    width: 500px;
    padding: 20px;
    margin-bottom: 0;
}

.login-card-container {
    height: 100%;
    display: table;
}

.login-card {
    display: table-cell;
    vertical-align: middle;
}
